<h1>Welcome to the Flash Card Quiz!</h1>

<a href='<%= new_flash_card_url %>'>Create a New Flash Card</a>

</br></br>

<button class='start-quiz'>Start a New Quiz</button>

</br></br>

<div class='quiz'>
	<div class='stimulus'></div>

	<form class='answer-form'>
		<input id='user-answer' type='text'>
		<input type='submit' value='Answer' id='response-submit'>
	</form>
</div>

<div class='current-score'></div>
<div class='high-score'>Current High Score: <%= @high_score %></div>
