<h1>Welcome to the Flash Card Quiz!</h1>

<a href='<%= new_flash_card_url %>'>Create a New Flash Card</a>

</br></br>

<button class='start-quiz'>Start a New Quiz</button>

</br></br>

<div class='quiz'>
	<div class='stimulus'></div>

	<form class='answer-form'>
		<input type='text'>
		<input type='submit' value='Answer' class='response-submit'>
	</form>
</div>

<div class='high-score'>Current High Score: <%= @high_score %></div>

<script>
	$(document).ready(function() {
		var cards, changeCard, currentCard, finishQuiz, score;

		$('.start-quiz').on('click', function(e) {
			e.stopPropagation();
			e.preventDefault();
			$('.quiz').toggle();

			// Present Cards one at a Time
			$.ajax({ url: '/flash_cards' }).done(function(data) {
				cards = data;
				changeCard();
			});
		});

		$('.response-submit').on('click', function(e) {
			// TODO Handle User Answers - 3 tries
			// TODO Calculate Score

			// next card is presented until all have been shown
			changeCard();
		});

		changeCard = function() {
			if (cards.length) {
				// move next card to the front
				currentCard = cards.slice(0, 1);
				$('.stimulus').html(currentCard.stimulus);
			} else {
				// cards are all gone, quiz is over
				finishQuiz();
			}
		};

		finishQuiz = function() {
			// TODO View the final score and the high score
			// If the new score is higher, replace the old high score
			$('.quiz').toggle();
		};
	});
</script>